[2017-09-15 03:30] chenghuige opened #3 "caption eval hang run_evaluations_test.py"
hang on computing meteor

Error: Could not find or load main class edu.stanford.nlp.process.PTBTokenizer
Error: Could not find or load main class edu.stanford.nlp.process.PTBTokenizer
setting up scorers...
computing Bleu score...
{'reflen': 0, 'guess': [0, 0, 0, 0], 'testlen': 0, 'correct': [0, 0, 0, 0]}
ratio: 1e-06
Bleu_1: 0.000
Bleu_2: 0.000
Bleu_3: 0.000
Bleu_4: 0.000
computing METEOR score...

[2017-09-15 06:45] AIChallenger commented on #3
- 首先建议检查下环境是否配好，例如：java 1.8.0。
- 如果环境没问题，建议查看
/AI_Challenger/AI_Challenger_eval_public/caption_eval/coco_caption/pycxevalcap/tokenizer/ptbtokenizer.py
- 如果依然有问题，建议查看[Stanford Tokenizer](http://nlp.stanford.edu/software/tokenizer.shtml) ，[Stanford CoreNLP 3.4.1](http://nlp.stanford.edu/software/corenlp.shtml).
希望对你的问题有帮助。

[2017-09-16 00:26] chenghuige commented on #3
@AIChallenger  ok I put stanford tokenizer at the path of tokenizer and now can run ok before computing meteor score, still hang on computing meteor..

loading annotations into memory...
0:00:00.000165
creating index...
index created!
Loading and preparing results...
.loading annotations into memory...
0:00:00.000136
creating index...
index created!
Loading and preparing results...
Building prefix

[2017-09-16 02:21] chenghuige commented on #3
@AIChallenger  Thanks, fixed, due to missing tar. close.

[2017-09-16 02:21] #3 closed

[2017-09-18 04:52] WuLC opened #4 "caption_eval 运行测试demo报错"
在目录 `AI_Challenger/AI_Challenger_eval_public/caption_eval` 下运行

 `python run_evaluations.py -submit  ./data/id_to_test_caption.json -ref ./data/id_to_words.json`

报错如下
loading annotations into memory...
0:00:00
creating index...
index created!
Loading and preparing results...
Building prefix dict from the default dictionary ...
Loading model from cache c:\users\lc\appdata\local\temp\jieba.cache
Lo

[2017-09-18 08:36] luohuan2uestc opened #5 "给的验证集数据的标注，左右是乱的？"

[2017-09-18 09:14] AIChallenger commented on #4
考虑到windows环境下可能出现的问题，代码做了部分修改
将图片名到int的映射从 `int(int(hashlib.sha256(img_name).hexdigest(), 16) % sys.maxint)` 替换为 `self.image2hash[img_name]`，改用字典，key是图像名，value是对应的int值。

如果还有错，建议修改ptbtokenizer.py的53行 `p_tokenizer = subprocess.Popen(cmd, cwd=path_to_jar_dirname, stdout=subprocess.PIPE)` 为windows相应的用法。
其中cmd = ['java', '-cp', 'stanford-corenlp-3.4.1.jar', 'edu.stanford.nlp.process.PTBTokenizer', '-p

[2017-09-18 09:24] AIChallenger commented on #5
@luohuan2uestc 问的是image caption的问题吗？ 因为每个人看图片的角度不一样，有的以图片里某个人的方位描述，有的就是以图片的左右描述。我们并没有对左右有规定，完全以标注人员为主，5个描述可能会出现你提到的情况。

[2017-09-18 09:27] luohuan2uestc commented on #5
那你有没有考虑过，我们预测的结果如何跟你标注的进行判断呢？难道我们要猜标注人的参考左还是右吗？

[2017-09-18 09:28] luohuan2uestc commented on #5
那你们要对数据集重新标注了。否则怎么验证？难道算法去自己猜吗？

[2017-09-18 09:34] luohuan2uestc commented on #5
我问的人的姿态估计的

[2017-09-18 11:59] AIChallenger commented on #5
@luohuan2uestc 你问的是keypoint吧？人身上关键点的编号顺序可以参考我们的官网上面的说明。

[2017-09-18 12:03] luohuan2uestc commented on #5
是的，但是我发现你们给的验证集的数据的顺序和你们官网给的不一样，官网上是以图片上的人为中心标注的，可是验证集上却感觉是随意左右标注的，麻烦你们检查一下，谢谢，我给你们写过邮件，也没有回。举例：0002605c53fb92109a3f2de4fc3ce06425c3b61f.jpg
其他还有很多。

[2017-09-18 14:57] WuLC commented on #4
好，谢谢

[2017-09-19 04:59] #5 closed

[2017-09-19 08:57] AIChallenger commented on #4
@自己做reference.json，很灵活，只要保证你自己的图片名有自己相应的int型id就好，保证一一对应就好。

[2017-09-19 08:59] WuLC commented on #4
明白了，谢谢

[2017-09-19 09:00] AIChallenger commented on #4
@WuLC Windows环境跑通了是吧？

[2017-09-19 09:02] WuLC commented on #4
是的

[2017-09-19 09:05] WuLC commented on #4
是的，之前我跑自己的 `reference.json` 时，采用的映射关系也是用这种方式 `int(int(hashlib.sha256(img_name).hexdigest(), 16) % sys.maxint)`，不过能够评分，没有报错。

是不是之前的demo 中 hash 后恰好有冲突？

[2017-09-19 09:07] deepblacksky opened #7 "cacography"
https://github.com/AIChallenger/AI_Challenger/blob/a41de91a6544fea6cd3a68879a6f3150b14d8fd9/AI_Challenger_eval_public/scene_classification_eval/scene_eval.py#L66
warnning -> warning
https://github.com/AIChallenger/AI_Challenger/blob/a41de91a6544fea6cd3a68879a6f3150b14d8fd9/AI_Challenger_eval_public/scene_classification_eval/scene_eval.py#L114
Evalation -> Evaluation
原谅我是一个强迫症患者:)

[2017-09-19 09:07] AIChallenger commented on #4
@WuLC 应该是不同系统hashlib的计算结果不一样。

[2017-09-19 09:13] AIChallenger commented on #7
@deepblacksky Thanks !

[2017-09-19 09:13] #7 closed

[2017-09-19 09:18] WuLC commented on #4
好，还是要抽空看下源码 >_<，关掉issue了

[2017-09-19 09:18] #4 closed

[2017-09-19 17:19] YanWang2014 opened #8 "场景分类baseline 训练时accuracy用的不是top3?"
`

    train_step, cross_entropy, logits, keep_prob = network.inference(features, one_hot_labels)

    correct_prediction = tf.equal(tf.argmax(logits, 1), tf.argmax(one_hot_labels, 1))

    accuracy = tf.reduce_mean(tf.cast(correct_prediction, "float"))
`

[2017-09-20 02:00] AIChallenger commented on #8
@YanWang2014 训练时只是用的top1。

[2017-09-20 14:21] wjb123 opened #12 "关于中文caption评测"
看了下中文caption的评测程序，发现产生的句子首先经过jieba中文分词了，然后在计算四个指标前又经过 PTBTokenizer 分词了，请问这样做有什么原因吗？为什么不直接只做一步分词？

[2017-09-20 15:16] AIChallenger commented on #12
@wjb123 你提到的问题很好，只分一次词，然后在评价代码里将PTBTokenizer部分做修改也是可以的。当初是出于尽量少犯错的角度考虑，尽可能的在我们的输入形式上做修改，尽量少修改COCO的评价代码，以防部分代码没有修改导致未知的错误，谢谢！

[2017-09-20 15:19] wjb123 commented on #12
@AIChallenger 好的，那你们是用哪个分词呢？对应部分会更改吗？

[2017-09-20 15:37] AIChallenger commented on #12
@wjb123 我们目前用jieba分词，PTBTokenizer部分暂时不会修改，如果确实它造成分数不对，后期才会修改，如果暂时并没有影响分数，就先不修改。

[2017-09-21 01:53] wjb123 commented on #12
好吧，由于不同的分词对最终的评测指标是有影响的，你们难道不应该测试一下吗？

[2017-09-21 01:57] wjb123 commented on #12
还有另外一个问题，评测代码有点不太人性化。例如需要用户自己处理reference数据成下面这种格式:
{
      "caption": "\u4e00\u4e2a \u957f \u5934\u53d1 \u7684 \u5973\u4eba \u5750\u5728 \u6d77\u8fb9 \u6c99\u6ee9 \u7684 \u6905\u5b50 \u4e0a \u770b\u7740 \u84dd\u5929 \u5927\u6d77",
      "id": 1,
      "image_id": 6678090646845985471
    },
其中包括对reference的分词和id的重新hash，难道不能提供一个脚本将竞赛的reference自动转换成这个格式吗？

[2017-09-21 03:19] wangheda commented on #12
那么现在使用不同分词的评价分数是一致的吗？

[2017-09-21 05:30] AIChallenger commented on #12
针对分词的问题，在最后测试的时候，我们会把不同分词方法都做一遍，现在例子给出的是jieba分词，对5个句子产生5个参考句子，后期假设采用两种分词方法，那就会有10个参考句子，以此类推，采用n个分词方法，我们的参考句子就会有5n个，这样，只要选手采用我们分词方法中的一种，就是可以的。所以也希望大家可以分享给我们一些主流的中文分词code，要大众、主流、公开的方法。谢谢大家！

[2017-09-22 06:00] happygds commented on #12
@AIChallenger 我们之前用的thulac分词结果作为输入进行训练，训练过程中看起来validation metric很高，但用这个评测代码之后就相当低了，我们认为是分词不同导致的。因此我将对应评测代码由jieba换成thulac分词，metric很不一样，比如CIDEr由0.7多升到了1.7多，句子是一样的，只不过采用了不同的分词手段。这就非常有意思了，我想问在最终评测的时候，如果你们采用不同的分词方法，是怎么评判选取metric值呢？

[2017-09-23 07:32] luohuan2uestc opened #13 "请问key_point验证集会给每个人的框？"

[2017-09-24 07:39] chenghuige commented on #12
大家都用相同的分词标准评估很合理啊，不同的分词粒度肯定metric不一样，比如你用大粒度或者小粒度分词，甚至是单字 metric结果会差很多，但是都用相同的分词标准评估 就是合理的

[2017-09-24 10:00] gujiuxiang commented on #12
官方的code 实在太繁琐，我自己写了个reference，包含各种baseline, 有问题希望指出
https://github.com/gujiuxiang/chinese_im2text.pytorch/blob/master/caption_eval/data/coco_val_caption_validation_annotations_20170910.json

[2017-09-25 06:48] #12 closed

[2017-09-25 13:20] chenghuige opened #15 "about submit json file"
in caption_validation_annotations_20170910.json
 "image_id": "3cd32bef87ed98572bac868418521852ac3f6a70.jpg"
So the in the predicted json file for submit just be like below?
[
  {
    "caption": "一个面对着蓝天大海的女人坐在海边的沙滩椅子",
    "image_id": "3cd32bef87ed98572bac868418521852ac3f6a70"
  }
]
remove '.jpg' for each image ?

[2017-09-25 15:31] zhhezhhe commented on #15
@chenghuige Yes.

[2017-09-25 15:32] AIChallenger commented on #15
@chenghuige You are right.

[2017-09-25 16:07] chenghuige commented on #15
Thanks, closed.

[2017-09-25 16:07] #15 closed

[2017-09-26 07:34] gujiuxiang opened #17 "Why the online evaluation always failed?"
Hi, 为何我提交image cpaitoning结果，毫无任何反馈。我已经按照贵方的要求组织json了。按道理应该和mscoco online server一样给个反馈。

[2017-09-26 09:37] happygds commented on #17
+1，对validation生成的json在本地评测运行就没问题，对test生成的json提交上去就报 提交格式错误。

[2017-09-26 16:04] chicm opened #20 "场景分类训练集数据无法下载了，能看一下吗？"

[2017-09-27 03:40] lxltaibo opened #21 "ai_challenger_keypoint_validation_20170911 关键点验证集中有json标注文件吗？"
下载的ai_challenger_keypoint_validation_20170911 关键点验证集中没有json标注文件？是我下错了还是本来就没提供？

[2017-09-27 04:05] zhaishengfu opened #22 "key point eval error"
hello, I see your file for keypoint eval---'_keypoint_eval.py'_, and I think your method has some problems.
in your methods, if your image has 2 person, but you give only 1 and i use my model to predict 2, then the result will be bad, because your code:

  _oks_all = np.concatenate((oks_all, np.max(oks, axis=0)), axis=0)
  oks_num += np.max(oks.shape)_

I think this should change to
  _oks_all = n

[2017-09-27 05:16] AIChallenger commented on #21
@lxltaibo 你好，可能是下载错误，请验证下载文件的sha1sum值，
16cd0b5ac4d38e664806c80028f8d6670f918f15

[2017-09-27 05:41] AIChallenger commented on #22
@zhaishengfu Thanks for posting the issue. Indeed, we had considered using oks_num += np.min(oks.shape), but decided to pass this method, because it causes unfairness in the evaluation. For example, one way to get around is to predict ONLY ONE person with highest confidence score per image. In this case, oks_num is always equal to 1, and this means the final score is equal to that one OKS with hig

[2017-09-27 05:43] AIChallenger commented on #13
@luohuan2uestc 是的

[2017-09-27 07:23] zhaishengfu commented on #22
I Understand your meaning. But this is also unfair for some model. for example the followig image:
![0a00c0b5493774b3de2cf439c84702dd839af9a2](https://user-images.githubusercontent.com/7630101/30900354-4d402980-a396-11e7-8e90-91d77719c39e.jpg)
in your evaluation only give 1 person, but my model can predict the other person and this is better than your given label, isn't it?? But the result is wors

[2017-09-27 07:48] chenghuige commented on #17
@AIChallenger 不是说指标是bleu_4,cider..吗 为什么我看现在提交的同学结果,是如下呢,bleu_1了。。
BLEU_1 | CIDEr | METEOR | ROUGE_L

[2017-09-27 08:08] gujiuxiang commented on #17
有人能提供下能正确被官方online server识别且计算出结果的json example吗 （还不知道提交的结果如何，结果就消耗光了2次机会，而且还是提交延时导致），这比赛搞得好悲伤，完全没有刷mscoco那么顺畅

[2017-09-27 08:18] chenghuige commented on #17
@gujiuxiang 你的image_id带有.jpg吗

[2017-09-27 09:11] biyuehuang commented on #21
你好！ai_challenger_keypoint在哪里下载的？在官方网站找不到。谢谢

[2017-09-27 10:47] gujiuxiang commented on #17
@chenghuige 按照官方的，没.jpg。但是每次上传总是验证超时，然后。。。没然后了
我提交的json结构如下：
[{'caption': '一个戴着墨镜的男人走在平坦的道路上',
  'image_id': 'bfa5ccf7fc824aa74a2058eb126617e3547bc734'},
 {'caption': '球场上有两个穿着运动服的男人在争抢足球',
  'image_id': 'dededfdba2559ab86c150116b46e218add867f71'}]
不知为何总是出错

[2017-09-27 15:03] CollinsWRQ opened #24 "Coding Problem in "caption_eval/data/id_to_words.json""
Values of key "caption" indicate that they are Unicode utf-8 characters but decoded and saved as ASCII.
I'm not sure whether it's the format required or just an oversight in coding although it may have no affect.

[2017-09-27 15:16] lxltaibo commented on #21
是下载文件出了问题，多谢！

[2017-09-27 15:16] #21 closed

[2017-09-28 00:41] chenghuige commented on #17
@gujiuxiang 会不会格式要求是ascii的utf8表示caption 而你的输出是unicode?

[2017-09-28 05:36] #17 closed

[2017-09-28 05:36] #13 closed

[2017-09-28 05:36] #8 closed

[2017-09-28 05:37] #20 closed

[2017-09-28 15:53] AIChallenger commented on #22
@zhaishengfu again we did consider the case you just introduced. If we were to set oks_num equal to the number of human body annotated, and look for the best oks score from submission result, this would create a different dilemma. Hypothetically, all possible prediction results on one human body could have been submitted simultaneously, because in this case, the evaluation script always picks the

[2017-09-28 23:20] chenghuige commented on #17
@gujiuxiang 也许已经解决了 我把相关的代码 来自官方baseline中的代码贴出来 方便遇到相关问题的同学
假定输入流格式是‘图片地址，caption预测内容'
  import sys
  reload(sys)
  sys.setdefaultencoding('utf8')
  import json
  import io

  res = []
  for line in sys.stdin:
    pic, catpion = line.strip().split('\t')
    res.append({'caption': catpion, 'image_id': pic})

  with io.open(sys.argv[1], 'w', encoding='utf-8') as fd:
    fd.write(unicode(json.dumps(r

[2017-09-29 04:09] AIChallenger commented on #24
@CollinsWRQ I don't quite understand your concern. We did save captions in utf-8, so regarding ASCII, which part are you referring to? However, it should be noted that utf-8 is required in submission files.

[2017-09-29 07:14] fword opened #26 "is this a known error?"
NotFoundError: /home/sk/ai_challenger_caption_train_20170902/caption_train_images_20170902/e55ba6db106e61f50802ed3547b325ced2e32a3a.jpg

[2017-09-29 08:01] luohuan2uestc commented on #22
我也刚想回答问这个问题来着，说实话，这个比赛大多数都是中国人，为什么两个中国人要用英语交流？
我更想帮主办方解释的是，我们不愿意改就是因为懒。
然后这个影响真的很大，在val上可以差别百分之十！！！！！！！！
从某种角度上，放出可见的框吗，让我们可以计算IOU，减去多余的人，可能更加公平。
谢谢。

[2017-09-29 12:37] zhaishengfu commented on #22
看官方解释是防止欺骗。如果放出框的话，会降低很多难度。他的解释我倒是看懂了，有道理，但是还是没有办法解决我说的问题：给定的标签如果不准而模型更准，结果会更加糟糕。我觉得你说的不太可行，最好是既能解决他说的两个欺骗问题又能解决我说的问题。等想到再说吧。

[2017-09-30 03:54] fword commented on #12
生成id_to_words.json文件的脚本有吗

[2017-09-30 10:29] AIChallenger commented on #22
@zhaishengfu 您好，我们的测试数据集经过了专业数据数据标注团队的多轮人工审核，数据标注质量已经达到业界通用的高质量标准。因此无需担心“给定的标签如果不准而模型更准”的情况。

感谢您对AI Challenger的支持。预祝您取得好成绩！

[2017-09-30 10:29] #22 closed

[2017-09-30 10:48] AIChallenger commented on #26
@fword No, we did locate that image file in the directory. This is the sha1sum of caption training files: ecafb50a4bd29213772941a5a559d4f741c214b6 Probably you should check if the training file download was completed. Good luck!

[2017-09-30 13:19] JinmingZhao commented on #26
This image is also not in my downloaded files and there are only 209961 images in the train set. I modify the script to filter these images in the json file, but not in my downloaded files.

[2017-10-01 05:58] linoandy commented on #26
@JinmingZhao maybe your download wasn't completed. I have exactly 210000 images. You should calculate the Sha1 of the zip file you downloaded, and see if it matches with the one provided by the organizers, ecafb50a4bd29213772941a5a559d4f741c214b6

[2017-10-02 02:32] zhaishengfu opened #27 "label standard?"
![0a4dc5cce5168f04439770a010e77304e507cec8](https://user-images.githubusercontent.com/7630101/31062390-ec42ff02-a75c-11e7-81f2-467d8c9bc918.jpg)

![0a4dc5cce5168f04439770a010e77304e507cec8](https://user-images.githubusercontent.com/7630101/31062390-ec42ff02-a75c-11e7-81f2-467d8c9bc918.jpg)

Can you tell me why there is only 1 person in the label??Why the little boy does not be labeled?? what is th

[2017-10-02 03:02] JinmingZhao opened #28 "中文caption,inference特别慢"
validation和test都是一张一张的caption, 1080卡，测一次要几个小时，大家也没遇到这个问题吗？

[2017-10-02 03:35] zhaishengfu commented on #27
also, for this image, your image only has 3 labels, but for my model, I get the following result, Do you think which is better?? and in your datasets , there are many such problems.. I am confused
![0a23ac1a2fead983e4e219f7d30cd36766f66a95_rendered](https://user-images.githubusercontent.com/7630101/31063473-bd0d0490-a765-11e7-88c1-aefdb9c8decf.png)

[2017-10-02 03:40] zhaishengfu commented on #27
and much more
![0a42e9d7fb31d168f964f2df0a30db0e195feca6](https://user-images.githubusercontent.com/7630101/31063523-44ad9e50-a766-11e7-9a6e-3ca566f82c50.jpg)
in the above image, you give 3 labels, but i get 6. So i said your evaluation is unfair. You said the dataset is labeled by profession. But i only choosed randomly and there are many such problems. Looks forward to your reply

[2017-10-02 06:01] chenghuige commented on #28
每次inference 一组 batch size可以取500

[2017-10-02 07:09] JinmingZhao commented on #28
@chenghuige  提供的 run_inference.py 是不支持这个的，每次beam_search的时候传的是一张图片，用batch_size需要自己根据train的inputs格式去改？

[2017-10-02 07:15] chenghuige commented on #28
@JinmingZhao 别的框架不太清楚 如果你试用tf的话 可以搜一下beam search相关的，im2txt提供的是out graph的beam search 每次inference 只能有一个图片
你可以参考google/seq2seq提供的ingraph beam search

[2017-10-02 07:36] JinmingZhao commented on #28
@chenghuige 非常感谢! 刚开始做caption, 见谅！

[2017-10-02 07:36] #28 closed

[2017-10-02 08:09] JinmingZhao commented on #26
@linoandy yeah, the  Sha1 of my downloaded file is not equal to the provided.  And I think that ignore these images is a solution to solve this problem if the network is not very stable. Thanks.

[2017-10-02 08:36] JinmingZhao commented on #4
@WuLC  python run_evaluations_test.py 脚本会报错吗？ coco_res = coco.loadRes(json_predictions_file) 这里报错了， 由于id_to_test_words 没有images等关键字， 遇到过这个问题吗？

[2017-10-02 08:46] JinmingZhao opened #29 "run_evaluations_test.py 报错"
python run_evaluations_test.py
报错信息：
loading annotations into memory...
0:00:00.000170
creating index...
index created!
list indices must be integers, not str
.loading annotations into memory...
0:00:00.000142
creating index...
index created!
list indices must be integers, not str

[2017-10-02 09:15] JinmingZhao commented on #29
是我之前debug的时候把原来的代码改了，不好意思。

[2017-10-02 09:28] #29 closed

[2017-10-02 09:48] foolwood commented on #22
@AIChallenger 非常感谢组委会提供的数据与交流平台。我希望组委会可以认真考虑一下评价指标。

请将测评代码中的
oks_all = np.concatenate((oks_all, np.max(oks, axis=0)), axis=0)

改为
oks_all = np.concatenate((oks_all, np.max(oks, axis=**1**)), axis=0)

原因如下：
如果是 np.max(oks, axis=0)，也就是说组委会是在精度的基础上进行的计算，这就留下了一个**bug**。因为是以精度为计算指标的，那么我可以只预测一个目标（假设这个预测和标签一模一样），将这个结果复制100w次提交。那么根据组委会的测试代码，假设真实的标签数量是10w这个级别。得到的是oksmean是（100w\*1+9.9999w\*0）/109.9999w 约等于

[2017-10-02 13:07] foolwood commented on #22
@AIChallenger 建议组委会还是尽量参考一下COCO的测评代码。

[2017-10-02 13:42] 201528014227051 opened #30 "图像中文描述问题，总是提交格式错误？"
按照示例当中的代码保存为json格式，还是会出现格式错误问题？？
`with io.open('result6.json', 'w', encoding='utf-8') as fd:
    fd.write(unicode(json.dumps(data,ensure_ascii=False, sort_keys=True, indent=2, separators=(',', ': '))))`

[2017-10-07 04:34] foolwood commented on #22
@AIChallenger 再次提醒组委会修复bug。

[2017-10-08 02:52] foolwood commented on #22
@AIChallenger 组委会请认真考虑bug修复问题。

[2017-10-08 04:20] tensorboy commented on #22
I agree with @foolwood!

[2017-10-08 04:23] wangheda opened #31 "BLEU_4 score bug in LeaderBoard?"
Our BLEU_4 score (0.73298) on the LB is approximately equal to the BLEU_1 score (0.73563) we measured offline on eval dataset, and much higher than our offline BLEU_4 score (0.41735).

I wonder if the score display on the LB is wrong.

[2017-10-08 09:32] foolwood commented on #22
@AIChallenger @tensorboy 目测组委会今天不会修这个bug了，第一次双周赛真是够刺激。

[2017-10-08 12:01] JinmingZhao commented on #30
再好好check一下代码，肯定 something wrong.

[2017-10-09 02:06] 201528014227051 commented on #30
谢谢回复，目前猜测可能是图像id顺序的问题，等试试再说吧，建议网站的错误提示应该可以再明确一点

[2017-10-09 07:20] #26 closed

[2017-10-09 10:28] AIChallenger commented on #22
@foolwood 非常感谢您指出代码中的疏漏部分，我们已经修复了这个问题。同时也对Github中的评测脚本做了更新。再次感谢您的大力帮助和支持，祝您在比赛中取得好成绩！

[2017-10-10 05:26] 201528014227051 commented on #30
打开生成的json文件，对比也没有问题，这个问题拖延一周了。。。好尴尬，一直没法提交成功

[2017-10-11 23:23] chenghuige commented on #31
@wangheda @AIChallenger 是这样的 而且现在所有队伍的bleu@4值显示的应该都是bleu_1的数值。。。

[2017-10-15 03:14] tensorboy commented on #27
I'm looking forward with @zhaishengfu. :)

[2017-10-18 09:09] NingHongKe opened #34 "ValueError: You must specify one of the supported problems to generate data for:"
翻译任务中，直接利用给定的run.sh运行，出现下面的错误，有没有人知道为什么呢？

Traceback (most recent call last):
  File "../tensor2tensor/tensor2tensor/bin/t2t-datagen", line 213, in <module>
    tf.app.run()
  File "/home/ninghongke/tensorflow/lib/python2.7/site-packages/tensorflow/python/platform/app.py", line 48, in run
    _sys.exit(main(_sys.argv[:1] + flags_passthrough))
  File "../tensor2tensor/tensor2tensor/bin/t2t-datagen"

[2017-10-20 04:09] chenghuige commented on #30
@201528014227051  did you reload sys ?
import sys, os
reload(sys)
sys.setdefaultencoding('utf8')

[2017-10-20 04:14] 201528014227051 commented on #30
@chenghuige yes, I have done that.
I have done All things that I think need to be done. I have an idea that I give u the txt format predicted result, could u help me to generate json file. this is a way that I have not done before. leave u email if it is convenient for u. thanks.

[2017-10-24 12:32] wodeweilai commented on #34
我也遇到这个问题了，请问你解决了么

[2017-10-24 15:00] wasifferoze commented on #34
same problem. how to resolve it? any help?

[2017-10-27 03:11] ideaplat opened #35 "ython scene.py --mode test --test_dir /root/AI_Challenger/ai_challenger_scene_test_a_20170922"
Key Variable/Adam_1 not found in checkpoin

[2017-10-27 05:33] ideaplat commented on #35
root@core-PowerEdge-T20:~/AI_Challenger/Baselines/scene_classification_baseline# python scene.py --mode test  --test_dir /root/AI_Challenger/ai_challenger_scene_test_a_20170922
Restore the model from checkpoint ./checkpoint/model.ckpt-8000
Traceback (most recent call last):
  File "scene.py", line 195, in <module>
    test(FLAGS.test_dir)
  File "scene.py", line 124, in test
    saver.restore(sess

[2017-10-30 13:19] brightmart opened #36 "python: can't open file '../tensor2tensor/bin/t2t-trainer': [Errno 2] No such file or directory"
![eeee](https://user-images.githubusercontent.com/19634224/32172789-c72b78e0-bdb7-11e7-94bd-fa960536ffa7.JPG)

after run " ./prepare.sh" successfully, when try to run this command "./run.sh", above error occured.
how can we solve it?

[2017-10-30 13:35] brightmart commented on #34
same problem. how to resolve it? any help?

[2017-10-30 13:54] brightmart commented on #36
copy tensor2tensor's source code from 'https://github.com/tensorflow/tensor2tensor/tree/master/tensor2tensor'

[2017-10-30 13:54] #36 closed

[2017-11-01 01:30] brightmart commented on #34
any update?

[2017-11-03 02:23] brightmart commented on #34
any update?

[2017-11-03 04:12] brightmart opened #37 "翻译任务-结果提交说明-文档错误-格式错误"
![xxx](https://user-images.githubusercontent.com/19634224/32360335-d2ebdc12-c08f-11e7-8ba5-f909ef4a6e6a.JPG)

这里说明里，后缀必须是.sgm,而不是.xml

正确的命令是：
wrap_xml.pl zh test_a_20170923.sgm Toy   < s2q_attention.csv > decoder-output.sgm

其中“test_a_20170923.sgm”，是翻译的英文测试文件。

[2017-11-07 11:55] brightmart commented on #34
any update?

[2017-11-08 02:05] opcoder commented on #30
@201528014227051 测试集A有多少张图片

[2017-11-08 02:08] 201528014227051 commented on #30
@opcoder 30000

[2017-11-08 02:11] opcoder commented on #30
我提交也一直出错，我下载下来的train,val和test1解压之后都少一张。你看一下你是不是？格式问题应该都在AI_Challenger/Evaluation/caption_eval/data下面那几个例子里面了。

[2017-11-08 02:12] opcoder commented on #30
@201528014227051 我提交也一直出错，我下载下来的train,val和test1解压之后都少一张。你看一下你是不是？格式问题应该都在AI_Challenger/Evaluation/caption_eval/data下面那几个例子里面了。

[2017-11-08 02:13] 201528014227051 commented on #30
@opcoder 应该不少，就是30000张吧？格式问题我已经请教过很多人喽，已经放弃啦

[2017-11-08 02:15] opcoder commented on #30
@201528014227051 能提供一个test1的30000张图片的list吗，我觉得还可以抢救一下。

[2017-11-08 02:30] opcoder commented on #30
@201528014227051 补上之后提交成功了。建议你按照上面那个路径提供的样子再check一下。

[2017-11-08 02:35] 201528014227051 commented on #30
@opcoder  补上差的一张？你的邮箱？

[2017-11-08 02:36] 201528014227051 commented on #30
@opcoder 你差的那张哪里找的？。。。

[2017-11-08 02:39] opcoder commented on #30
@201528014227051 不用啦，我在linux下面解压之后会少一张，放到windows下面解压之后补上了缺的那张。你如果是30000张的话那应该没问题。你可以看一下你的结果文件json里面，image_id数量是不是30000，有没有重复以及caption有没有为空的。

[2017-11-08 02:40] 201528014227051 commented on #30
@opcoder 多谢

[2017-11-14 18:27] lemo2012 opened #38 "How to use "de-xml.pl" ?"
Any example? Thx!

[2017-11-15 05:17] larryfu opened #39 "machine translation baseline run.sh error"
Got this error when execute run.sh  after run prepare.sh successfully
    n_baseline/train$ ./run.sh
    python: can't open file '../tensor2tensor/bin/t2t-trainer': [Errno 2] No such file or directory
    python: can't open file '../tensor2tensor/bin/t2t-datagen': [Errno 2] No such file or directory
    python: can't open file '../tensor2tensor/bin/t2t-trainer': [Errno 2] No such file or directory

[2018-02-01 14:46] salihkaragoz opened #41 "How can i download or use ai challenger dataset ?"
I can't download ai challenger dataset from aichallenger dataset website? Is there any link that i can download?

Thanks in advance...

[2018-02-02 04:29] zhhezhhe commented on #41
https://challenger.ai/datasets?lan=en在 2018年2月1日，下午10:46，Salih Karagoz <notifications@github.com> 写道：I can't download ai challenger dataset from aichallenger dataset website? Is there any link that i can download?Thanks in advance...—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-02-02 05:35] mkocabas commented on #41
@zhhezhhe the link you provide isn't working. I can download val and test sets but not train set. It gave network error every time I've tried for 1 month.

[2018-02-02 05:49] salihkaragoz commented on #41
@mkocabas You're in luck rather than me. @zhhezhhe I can't open an account for download yet. The website didn't accept my phone code. I'm stuck in first step :((

[2018-03-07 08:53] wwwch opened #42 "I cann't download the data"
I submitted the authentication, but has been in the audit status, can you help me to solve it, I want to download data for research

[2018-03-28 07:26] salihkaragoz commented on #42
@wwwch hello, I also have the same problem. can you report in here when you solve this problem? Thank in advance.

[2018-04-18 12:26] wcy116 commented on #41
@mkocabas Hello, I have downloaded the train and val dataset in other website but I can't download the test dataset, can you share it for me?

[2018-04-18 18:49] salihkaragoz commented on #41
@wcy116 hi can you share train data and annotations? Thanks in advance

[2018-04-18 19:19] mkocabas commented on #41
Hi @wcy116, I'm uploading the images to cloud and will share when it is done. Could you share the website that you downloaded train dataset?

[2018-04-19 01:18] wcy116 commented on #41
@salihkaragoz @mkocabas Hi, this is the website http://dataju.cn/Dataju/web/datasetInstanceDetail/440
the speed maybe a little slow, good luck :)

[2018-04-19 14:14] mkocabas commented on #41
@wcy116 here are the links. Can you let me know when you finish downloading? I'll delete them to free space in my drive.

~~https://drive.google.com/open?id=1rIOU-TFynOmbrfwFF5B97VGcz9TKhAWI~~
~~https://drive.google.com/open?id=1q4NXeYWCFnK558wB19MDxEIKN30m3wKu~~

[2018-04-19 14:33] wcy116 commented on #41
@mkocabas Thank you very much! I will @ you after finishing downloading.

[2018-04-19 15:58] wcy116 commented on #41
@mkocabas I have downloaded them, thank you.👍

[2018-04-20 05:36] mkocabas commented on #41
@wcy116, you're welcome. However, I couldn't download the dataset from the link you provided. It is extremely slow and connection was lost each time. Is it possible to share the training set with us through a cloud service (drive, onedrive, dropbox etc.)?

[2018-04-20 14:17] wcy116 commented on #41
@mkocabas maybe you can try multcloud https://www.multcloud.com/ to update the file to your google cloud then download it.

[2018-04-20 14:23] mkocabas commented on #41
@wcy116 Is it a cloud transfer service?

[2018-04-24 13:48] isarandi commented on #41
As far as I can see there is no way of downloading the dataset without uploading a scan of one's passport or national ID and also verifying one's phone number.

The dataset seems quite large and interesting, however, such a requirement will be prohibitive for the widespread adoption of this dataset as a standard benchmark.

[2018-04-24 13:52] mkocabas commented on #41
You're absoluttely right. Even you upload a valid ID, the download link is broken :(

[2018-06-01 10:46] Xfan1025 commented on #41
@mkocabas Do you have data for Machine Translation? If yes, can you share please? I cannot access the AIC website now...

[2018-07-12 18:17] iitzco commented on #41
Hi all, i'm arriving late to this thread...

I've been trying to download the skeletal keypoints training dataset from the official website [here](https://challenger.ai/datasets/keypoint) but the link appears to be completely broken.

Is there a possibility for someone to give me access to the dataset? Maybe someone has it backed up in a cloud service and you could provide me some download links..

[2018-07-23 20:33] iitzco commented on #41
Solved! Just tried *https* and it worked.

Original link was [this one](http://ai-challenger.ufile.ucloud.com.cn/ai_challenger_keypoint_train_20170909.zip?k=3678681a3077c6b1&t=1532809837)...just changed *http* for *https*

[2018-07-28 08:35] zm274310577 commented on #34
我参考 [https://blog.csdn.net/csa121/article/details/79605215](url) 进行了tensor2tensor的自定义problem测试，在实现的过程中也出现了这个问题，不知道我们的问题是不是一样的，下面说下我的解决方法。
在参考文章中需要自定义实现一个problem类，并使用@registry.register_problem进行装饰，即：
_#自定义的problem一定要加该装饰器，不然t2t库找不到自定义的problem
@registry.register_problem
class MyProblem(text_problems.Text2TextProblem):_

第二个是要创建init.py文件，并引入自定义的problem模块，原文中是这样写的：
self_script/**init.py**
`from . impo

[2018-10-26 09:29] Haidong-Kang opened #43 "python scene_eval.py ...error"
iebsn@iebsn-HP-Z440-Workstation:~/project/scene-classification/AI_Challenger_2017-master/Evaluation/scene_classification_eval$ ### **python scene_eval.py --submit ./s
ubmit.json --ref ./ref.json**
**warnning: lacking image 7df98fcd7a85281f845910af403ba65ca1494b60.jpg in your submission file
Evaluation time of your result: 0.014003 s
{'warning': ['Inconsistent number of images between submission an

[2018-10-29 09:11] Haidong-Kang commented on #43
已解决，没有仔细读代码，犯了低级错误。

[2018-11-21 05:30] dexception opened #44 "Unable to download or access website"
Hi,

Can anyone provide any links to download the chinese2english dataset ?
Have been struggling to download like forever.

Thanks.

[2019-02-13 02:39] daicoolb opened #45 "请问为什么图像中文描述inference的结果几乎都是同样的一句话"
用baseline测试图片，几乎所有的图像中文描述都是同样的一句话，这是什么原因呢？

@AIChallenger

[2019-02-13 02:59] daicoolb commented on #28
你好，请问中文caption inference特别慢的问题解决了么

[2019-02-14 11:38] #45 closed, assigned to nobody

[2019-04-16 01:02] ituni commented on #44
Me too, does anyone could please provide this dataset? Thank you very much.

[2019-04-16 01:02] ituni commented on #42
Me too, does anyone could please provide this dataset? Thank you very much.

[2019-04-25 07:23] zhhezhhe commented on #41
Now, some datasets can be download at the url. like https://challenger.ai/dataset/caption    https://challenger.ai/dataset/keypoint

[2019-04-25 07:24] zhhezhhe commented on #41
@mkocabas Now, some datasets can be download at the url. like https://challenger.ai/dataset/caption https://challenger.ai/dataset/keypoint

[2019-04-25 07:29] zhhezhhe commented on #44
Now, some datasets can be download at the url. like https://challenger.ai/dataset/caption https://challenger.ai/dataset/keypoint

[2019-04-25 07:30] zhhezhhe commented on #42
Now, some datasets can be download at the url. like https://challenger.ai/dataset/caption https://challenger.ai/dataset/keypoint

[2019-04-26 17:26] hungumi commented on #41
Thank you very much for the provided URL and resources.

[2019-05-22 05:58] ashuezy commented on #41
Hi,

Can anyone share links for chinese - english dataset ?

[2019-07-02 09:11] chde222 commented on #42
are you download the datasets? I still can not download it

[2019-07-02 09:17] chde222 commented on #41
could you share your test data to me .thanks advance

[2019-07-02 09:20] chde222 commented on #44
are you download the database? I am also cannot download it .can you share it to me .thanks advance.please

[2019-07-02 09:23] chde222 opened #46 "cannot download the dataset from the challengerAI"
there is anyone has download the dataset. can anybody can share for me

[2019-07-02 11:13] chde222 commented on #41
could you share me the test sets....thanks

[2019-08-29 18:57] adaszko commented on #41
Hi.  I can't login onto the website either to download the datasets (I'm getting an `Username or password is incorerct.` error).  Perhaps the dataset could be distributed over [the dat protocol](https://dat.foundation/) or BitTorrent?  That would reduce the bandwidth requirements on the server and make it easier to download.

[2019-08-31 22:42] mw66 commented on #44
The website refuse my login even though I (reset &) typed the correct password.

Anyone has a copy?

[2019-09-08 10:57] shazhongcheng commented on #46
so sad  i meet the same problem, i need the image_captioning data, but i can`t download, the web need i  sign in, but say my account error, but my account is right, and i don`t kown how to solve it....

[2019-09-10 17:48] tgpsantos commented on #41
I am getting the same login error as @adaszko . I've just registered and when I try to login I get "Username or password is incorerct.". I've tried the forgot password link but didn't work as well

[2019-11-14 11:51] beyondguo commented on #44
我也是啊，压根登录不上去。

[2019-11-17 06:24] dexception commented on #44
Someone please share some google drive or baidu links.

[2020-01-17 08:54] zhhezhhe commented on #41
# Note:
数据集是AI Challenger第一届比赛的三个赛道的数据集：Caption，keypoints， Scene
本数据集属于创新工场，作为研究目的所使用，不能作为商业目的使用。
关于数据集的所有解释权归创新工场所拥有。现友情提供下载链接, 仅限用于学术研究,仅限用于学术研究,仅限用于学术研究 。
## Only for research
## Only for research
## Only for research
Caption train:链接:https://pan.baidu.com/s/1YziBPLiU2WmE0j35oaXeKw  密码:asix
Caption validation :链接:https://pan.baidu.com/s/1p_0V89d4wfxk-7f7QsU9rg  密码:dcnn

Keypoint train:链接:https:

[2020-01-17 08:55] zhhezhhe commented on #42
# Note:
数据集是AI Challenger第一届比赛的三个赛道的数据集：Caption，keypoints， Scene
本数据集属于创新工场，作为研究目的所使用，不能作为商业目的使用。
关于数据集的所有解释权归创新工场所拥有。现友情提供下载链接, 仅限用于学术研究,仅限用于学术研究,仅限用于学术研究 。
## Only for research
## Only for research
## Only for research
Caption train:链接:https://pan.baidu.com/s/1YziBPLiU2WmE0j35oaXeKw  密码:asix
Caption validation :链接:https://pan.baidu.com/s/1p_0V89d4wfxk-7f7QsU9rg  密码:dcnn

Keypoint train:链接:https:

[2020-01-17 08:56] zhhezhhe commented on #44
#42

[2020-01-17 08:57] zhhezhhe commented on #46
See #42

[2020-03-11 05:10] nusselttech commented on #34
我也是，折腾了好久了

[2020-05-12 12:50] CSwbli commented on #41
您好，这些链接现在都无法打开了，请问能重新分享一下吗？绝非商用只想学习

[2020-05-12 12:51] CSwbli commented on #41
您好，这个方法现在也不行了。请问能将资料分享给我吗？十分感谢

[2020-05-14 21:05] uday60 commented on #41
Can someone give dropbox links ?

I have been waiting for 2 years for the dataset.

[2020-11-16 07:47] BetterZH opened #48 "cannot download ai_challenger_translation chinese-english dataset"
there is anyone has download the ai_challenger_translation dataset. can anybody can share for me.Thanks!

[2020-11-25 02:39] BetterZH commented on #42
有AIC-MT翻译的数据集吗，谢谢

[2020-11-25 02:41] BetterZH commented on #37
您好，您有AIC-MT的翻译数据集吗，可以分享给我吗，谢谢

[2020-12-05 01:29] zh57398 commented on #42
I downloaded the dataset you shared, but I can only find the pictures. Why do I not have the corresponding captions? Where should I get them?

[2021-01-25 07:54] innerlee opened #49 "What's the meaning of 2* in delta"
What's the meaning of elements of delta?

![image](https://user-images.githubusercontent.com/9464825/105676350-5afeaa80-5f25-11eb-91b9-deb31a7ab68f.png)

See https://github.com/AIChallenger/AI_Challenger_2017/blob/master/Evaluation/keypoint_eval/keypoint_eval.py#L50

[2021-02-22 02:27] Dantju commented on #42
@zhhezhhe 百度网盘已经失效了，能再发一下嘛，不胜感激

[2021-04-27 13:04] Julietty commented on #49
@innerlee Hi! I think, it's delta for each keypoint for both sides, like 2 * radius == diameter.

How did you download dataset? If you have it, please, share!

[2021-05-29 12:59] jsvwhxj opened #50 "# Note:亲，能帮忙再发一下嘛，失效了"
# Note:
数据集是AI Challenger第一届比赛的三个赛道的数据集：Caption，keypoints， Scene
本数据集属于创新工场，作为研究目的所使用，不能作为商业目的使用。
关于数据集的所有解释权归创新工场所拥有。现友情提供下载链接, 仅限用于学术研究,仅限用于学术研究,仅限用于学术研究 。
## Only for research
## Only for research
## Only for research
Caption train:链接:https://pan.baidu.com/s/1YziBPLiU2WmE0j35oaXeKw  密码:asix
Caption validation :链接:https://pan.baidu.com/s/1p_0V89d4wfxk-7f7QsU9rg  密码:dcnn

Keypoint train:链接:https:

[2021-06-10 11:09] 1617226214 commented on #50
@jsvwhxj 你好！数据集的链接过期了，可以重新发下么，谢谢！

[2021-06-11 08:56] LilAnthony123 commented on #50
您好，这个百度网盘的链接已经失效了，可以麻烦您再发一份吗，非常感谢

[2021-06-11 08:59] 1617226214 commented on #50
@LilAnthony123 你好！你发的这个还是过期的。。。

[2021-06-17 03:58] LilAnthony123 opened #51 "Hello, can you share a new dataset link"
The previous link is no longer valid

[2021-06-17 06:27] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1rqhwrYgQqN08O-9bbWqX2A  密码: 4rtg

LilAnthony123 ***@***.***> 于2021年6月17日周四 上午11:58写道：

[2021-06-17 06:30] zhhezhhe commented on #50
https://github.com/AIChallenger/AI_Challenger_2017/issues/51#issuecomment-862964734

1617226214 ***@***.***> 于2021年6月11日周五 下午4:59写道：

[2021-07-01 02:31] hudongloop commented on #51
@zhhezhhe

hi, this link invalid, would you provide a new one.

[2021-07-05 01:42] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1v0wi7EdFaRP3MdCVdN9BZg  密码: wt7v

LOOP ***@***.***> 于2021年7月1日周四 上午10:31写道：

[2021-07-19 03:50] jerrywgz commented on #51
@zhhezhhe

hi, the link invalid, would you please provide a new one.

[2021-07-20 01:48] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1X8C3-5sAn8E_CoLHJezwfA  密码: fwng

wangguanzhong ***@***.***> 于2021年7月19日周一 上午11:50写道：

[2021-08-04 09:47] TiansuYu opened #52 "Could you share it on dropbox or google drive?"
Hey guys, could you please share it on google drive, dropbox, S3 buckets or somewhere you can easily host datasets, and it is super cheap.

百度云盘 is really annoying. And they keep getting expired after a few days.

[2021-08-13 07:32] clarkong commented on #51
@zhhezhhe 能麻烦再分享一下链接吗，谢谢

[2021-08-20 01:06] Ch4osMy7h commented on #51
@zhhezhhe Could you please provide a new link? Thank you.

[2021-08-20 01:52] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1_WzTOgiptiCPpVn5L3T9cg 提取码: h1vp

ch4osmy7h.ai ***@***.***> 于2021年8月20日周五 上午9:06写道：

[2021-09-10 10:25] gitabtion commented on #51
@zhhezhhe Could you please provide a new link? Thank you.

[2021-09-14 02:36] wdxpython commented on #51
@zhhezhhe Could you please provide a new link? Thank you.

[2021-09-15 01:50] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1x4F_kFjaZ4Eyz7s-CT-99g 提取码: kmfk

wdxpython ***@***.***> 于2021年9月14日周二 上午10:37写道：

[2021-09-18 04:10] gitabtion commented on #51
您好，里边缺失了翻译语料，能提供一下嘛，谢谢~

[2021-09-18 05:05] zhhezhhe commented on #51
我没有翻译的额

Heng Cai ***@***.***> 于2021年9月18日周六 下午12:10写道：

[2021-09-22 07:42] gitabtion commented on #51
好的，请问您知道有什么渠道可以获取嘛，官网打不开了。。

[2021-09-24 01:45] zhhezhhe commented on #51
😂翻译的数据我也不清楚了

Heng Cai ***@***.***> 于2021年9月22日周三 下午3:43写道：

[2021-09-24 02:51] Qiulin-W commented on #51
您好，链接过期了，能麻烦您分享个新的链接吗？ 谢谢！

[2021-09-26 01:45] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1fxqKMnuQQNkTx6Wl9h86kg 提取码: sq8g

QiulinW ***@***.***> 于2021年9月24日周五 上午10:51写道：

[2021-10-18 01:46] geek2460 commented on #51
@zhhezhhe Could you please provide another link again? Baidu link is invalid. Thank you.

[2021-10-18 01:49] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1uJ2MSN-h_bJndh1PeCY9EA 提取码: 5t2q

geek2460 ***@***.***> 于2021年10月18日周一 上午9:46写道：

[2021-11-09 11:04] jim4399266 commented on #51
可以再分享一次嘛，十分感谢

[2021-11-11 02:02] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1yLvkrn_MsEc_CPSaQuBp6w 提取码: wl0p

jim4399266 ***@***.***> 于2021年11月9日周二 下午7:04写道：

[2021-11-22 05:30] intrablock commented on #51
Invalid again, would you please provide another link, thanks!

[2021-11-23 02:11] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1bN4GeJitMEKJh2kW-J8aNA 提取码: ul3n
Can someone else provide this link later?😂

intrablock ***@***.***> 于2021年11月22日周一 下午1:31写道：

[2021-12-01 05:42] salviatia commented on #51
@zhhezhhe Could you please provide another link again? Baidu link is invalid. Thank you.

[2021-12-03 01:50] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1FL0a31QWVrDD7HYEaLAvhg 提取码: o8g2

salviatia ***@***.***> 于2021年12月1日周三 下午1:42写道：

[2021-12-21 11:45] cease2e commented on #51
@zhhezhhe Could you please provide another link again? Baidu link is invalid. Thank you.

[2021-12-22 02:05] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1vqgtg2_AtCbk9h8B4STcpg 提取码: ho9k

whoami3f ***@***.***> 于2021年12月21日周二 19:45写道：

[2022-01-04 10:19] senlinuc commented on #51
我又来晚了~~，能否再分享下关键点检测的数据集呢？

[2022-01-04 13:40] biandh commented on #51
Could you please provide another link again? Baidu link is invalid. Thank you.

[2022-01-05 03:19] biandh commented on #51
链接: https://pan.baidu.com/s/1sDjKnDCEZ25x54gs9qilHg 提取码: tget

[2022-01-07 01:54] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1ICrhxSFIdJgZyLrhXkeZjg 提取码: 7m1f

biandh ***@***.***> 于2022年1月5日周三 11:19写道：

[2022-02-10 07:30] xiaovhua commented on #51
有 hxd 再发一遍吗，链接都失效了 T_T

[2022-02-11 02:06] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1VlJ_wEaIQWtR77qkM_pxyA 提取码: w5f7

xiaovhua ***@***.***> 于2022年2月10日周四 15:30写道：

[2022-02-16 02:56] xiaovhua commented on #51
可以了，感谢~

[2022-02-16 03:00] HXQWill commented on #51
感谢您发来的邮件， 我已经收到！ 稍后回复。 Thanks a letter from you E-mail. I have received it! And I will reply it as soon as possible.

[2022-02-23 03:37] dovietchinh commented on #51
Anyone download the dataset. I could'nt download

[2022-02-23 04:02] dovietchinh commented on #51
have you download the dataset? can you share the link with me, please ! I really need dataset now

[2022-02-23 11:10] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/12CjUXVHmAzQKMQLvtq_mYQ 提取码: a64n

Đỗ Viết Chính ***@***.***> 于2022年2月23日周三 12:02写道：

[2022-03-17 01:34] mahmoudai1 commented on #42
@zhhezhhe Can you please provide a new working link for the dataset? I need it for my research, thank you.

[2022-03-17 01:35] HXQWill commented on #42
感谢您发来的邮件， 我已经收到！ 稍后回复。 Thanks a letter from you E-mail. I have received it! And I will reply it as soon as possible.

[2022-03-17 02:06] zhhezhhe commented on #42
链接: https://pan.baidu.com/s/1gYHhwSz6JNq4ZgF-VfPyIw 提取码: r087

Mahmoud Ahmed ***@***.***> 于2022年3月17日周四 09:35写道：

[2022-03-18 18:57] mahmoudai1 commented on #42
I really appreciate your help, but, I'm not from China and I'm unable to create an account on Baidu to download the data. I tried many ways to create the account and it failed.
So please if you can upload the dataset on any other website, I'll be really thankful.
Thank you.

[2022-03-19 21:13] rex-yue-wu commented on #51
Can anyone share the dataset with a permanent link?

[2022-05-07 09:24] Junction4Nako commented on #51
@zhhezhhe hello! May I bother to ask for another valid link for the dataset? many thanks!

[2022-05-07 09:24] HXQWill commented on #51
感谢您发来的邮件， 我已经收到！ 稍后回复。 Thanks a letter from you E-mail. I have received it! And I will reply it as soon as possible.

[2022-05-09 02:34] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1S4ipuhn0121P7h0tKTBFsQ 提取码: w7ba

Quan ***@***.***> 于2022年5月7日周六 17:24写道：

[2022-06-08 10:29] GuiQuQu commented on #51
Hello! Can you share the dataset link again? the link is invalid. thanks!

[2022-06-09 02:12] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1EmVj1w5ZIMMP63Wh1LVQHA 提取码: nu68

GuiQuQu ***@***.***> 于2022年6月8日周三 18:30写道：

[2022-06-16 03:11] chainfitness commented on #51
Hello! Can you share the dataset link again? the link is invalid. thanks!

[2022-06-16 03:11] HXQWill commented on #51
感谢您发来的邮件， 我已经收到！ 稍后回复。 Thanks a letter from you E-mail. I have received it! And I will reply it as soon as possible.

[2022-06-19 05:13] C4a15Wh commented on #50
## Only for Research
您可以在此下载该数据集:
You can download the database through this:

https://drive.c4a15wh.cn/s/Lbf0

密码: Stariver0237
Password: Stariver0237

这个地址将在7天后失效，请尽快下载
This address will be expired in 7 days

[2022-06-24 09:18] XChuanLee commented on #51
would you provide a new valid link? thx

[2022-06-27 03:30] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1FkaQpUVfDMrYl4Juv3hyXQ 提取码: c1we

Xiaochuan Li ***@***.***> 于2022年6月24日周五 17:18写道：

[2022-07-06 05:38] Xiong-can commented on #12
链接失效了，还能提供一下吗？谢谢您。

[2022-07-06 05:39] Xiong-can opened #53 "中文评价"
能提供一下id_to_word.json的生成脚本的问题吗？或者是中文评价的数据集，注释等等，谢谢！

[2022-07-06 08:18] wenxuanliu commented on #51
Could you share a new link? Thanks.

[2022-08-18 21:19] gsrujana opened #54 "license information"
Hi, what is the license for this data use? Can it be used for commercial purposes? Thanks

[2022-08-18 21:19] HXQWill commented on #54
感谢您发来的邮件， 我已经收到！ 稍后回复。 Thanks a letter from you E-mail. I have received it! And I will reply it as soon as possible.

[2022-08-23 08:35] jongjyh commented on #51
could anyone share a new link? thanks a lot !

[2022-08-24 01:56] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/19ognmwTe4qBRijiAi78zlw 提取码: or0k

Jongjyh ***@***.***> 于2022年8月23日周二 16:35写道：

[2022-09-03 11:25] soundmemories commented on #50
你好，数据集链接失效了，能再分享一下吗？谢谢了！

[2022-09-06 02:03] zhhezhhe commented on #50
链接: https://pan.baidu.com/s/1_vr4WqYNYC7iFQVvwVXG6g 提取码: qdqm

soundmemories ***@***.***> 于2022年9月3日周六 19:26写道：

[2022-09-07 09:32] zhihaoTW commented on #51
could anyone share a new link? thanks a lot !

[2022-09-07 11:11] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1xjPc4tVpnEMaHSPzQtlLiQ 提取码: jpir

zhihao ***@***.***> 于2022年9月7日周三 17:32写道：

[2022-09-17 11:14] soundmemories commented on #51
实在抱歉，这几天没有登陆github，链接已经失效了，您有时间能再发一份给我吗？非常感谢！

[2022-09-19 07:42] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1Tlo8RlxuHO8VrLVk7DeEyg 提取码: 862v

soundmemories ***@***.***> 于2022年9月17日周六 19:14写道：

[2022-10-08 14:29] jxhnx commented on #51
https://hyper.ai/datasets/15762

[2022-10-08 14:30] HXQWill commented on #51
感谢您发来的邮件， 我已经收到！ 稍后回复。 Thanks a letter from you E-mail. I have received it! And I will reply it as soon as possible.

[2022-10-11 07:08] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1eyZYA0UjlAmVyXifeAY89w 提取码: saiu

bruce ***@***.***> 于2022年7月6日周三 16:19写道：

[2022-10-15 08:29] JingyuLi-code commented on #50
数据集链接失效了，能再分享一下吗？谢谢了！

[2022-10-15 08:30] JingyuLi-code commented on #50
你好，上面的数据集链接失效了，能再分享一下吗？谢谢了！

[2022-10-19 02:17] zhhezhhe commented on #50
链接: https://pan.baidu.com/s/1Y-JIS656p7vuOvDNlYhyBQ 提取码: peqt

JingyuLi ***@***.***> 于2022年10月15日周六 16:30写道：

[2022-10-26 13:02] rookieplayerzhang commented on #42
能麻烦您再发一个链接吗，这个链接也失效了，谢谢

[2022-10-27 02:27] zhhezhhe commented on #42
链接: https://pan.baidu.com/s/1OGypXpGAFA6jUgRmVY_Ygg 提取码: mson

rookieplayerzhang ***@***.***> 于2022年10月26日周三 21:03写道：

[2022-11-07 07:34] diyiiyiii commented on #50
您好，可以再分享一下链接吗？谢谢啦！

[2022-11-07 11:19] zhhezhhe commented on #50
链接: https://pan.baidu.com/s/1Jvzp8nd0y4bbLgjZEEFkaw 提取码: 7kj0

diyiiyiii ***@***.***> 于2022年11月7日周一 15:34写道：

[2022-11-25 05:26] softlipang commented on #51
网盘链接失效了，可以麻烦重新发一下吗？非常感谢

[2022-11-25 05:27] HXQWill commented on #51
感谢您发来的邮件， 我已经收到！ 稍后回复。 Thanks a letter from you E-mail. I have received it! And I will reply it as soon as possible.

[2022-11-29 13:58] pallgeuer commented on #51
Can anyone seed this? There seem to be zero seeds and peers atm.

[2022-11-29 13:58] pallgeuer commented on #51
Could a new link be provided?

[2022-11-30 02:38] zhhezhhe commented on #51
链接: https://pan.baidu.com/s/1haQ6GIPyD9e1jFJY9imnmA 提取码: col0

Philipp Allgeuer ***@***.***> 于2022年11月29日周二 21:58写道：

[2022-11-30 03:12] dreamkwc commented on #50
您好，链接又失效了，可以再分享一下吗？谢谢啦！

[2022-11-30 03:22] zhhezhhe commented on #50
链接: https://pan.baidu.com/s/1Yw0rjL7P79RqU5kJBRbVEg 提取码: 5uvn

dreamkwc ***@***.***> 于2022年11月30日周三 11:12写道：

[2022-11-30 09:50] pallgeuer commented on #51
Has anyone outside of China had any success at all with pan baidu links? I feel like I've tried everything to download the link and failed... Is it really not possible to just seed the torrent from above?